@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;1,400&display=swap');

* {
    font-family: "Titillium Web";
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #38ef7d,
        #11998e
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #38ef7d,
        #11998e
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center;
    color: white;
    width: 100vw;
    height: 100vh;
}

#redes {
    margin: 12px auto 12px auto;
    width: 100vw;
    word-wrap: break-word;
}

#redes a {
    display: inline-block;
}

#redes button {
    width: 270px;
    max-width: 80vw;
}

.rede-btn {
    margin: 8px auto auto auto;
    font-size: 32px;
}

button {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 10px;
    transition: 250ms;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 255, 255, 1);
}

#descricao {
    width: 70%;
    margin: auto;
}

#participantes {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    padding: 12px;
    border-radius: 10px;
    font-size: 20px
}

#participantes h2 {
    margin: 8px;
}

#participantes img {
    border-radius: 50%;
}

#participantes div {
    width: 120px;
    display: inline-block;
    position: relative;
    bottom: 0;
    transition: 250ms;
}

#participantes div:hover {
    bottom: 20px;
}

#participantes a {
    color: black;
    text-decoration: none;
}

#compartilhar-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

#compartilhar-container {
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #38ef7d,
        #11998e
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #38ef7d,
        #11998e
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 50%;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    font-size: 18px;
}

#compartilhar-container button {
    font-size: 18px;
}